@{
    @model IEnumerable<String>

}

<div style="width: 100%;display: flex;justify-content: space-evenly; align-items:center;">
    @{
        <h1 class="text-center">COURSES</h1>
        foreach (String s in Model)
        {
           <a href="Course/getcourse/@s"><div style="font-weight:bold;padding: 3vw;font-size:3ch;">
                @s
                </div>
            </a>    
        }
    }
</div>
