@{
    @model IEnumerable<String>

}


        <h1 class="text-center" style="padding-top: 7px;">COURSES:</h1>
        <br/>
        <div class="text-center">
    @{
        foreach (String s in Model)
        {
           <a href="Course/getcourse/@s"><div style="font-weight:bold;padding: 1vw;font-size:3ch;">
                @s
                
                </div>
                
            </a>   
        
        }
    }
</div>
